<br><br><br>
<div class="large-14 columns">
	<div style="text-align:center;">
		<h2>Botas Sociais</h2>
		<h5>Feitas com foco para os que gostam do estilos rústico e não querem sair do social, estas botas conseguem ter extremo conforto e ao mesmo tempo, uma eximia resistência. Nossos modelos possuem zíper ou elástico, visando atingir os mais variados gostos.</h5>
		<br/>
	</div>
	
	<div class="large-3 small-6 columns" style="float:left;">
		<%= link_to image_tag('06_Preto_01_Thumb.jpg'), image_path('06_Preto_01.JPG'), :class => "slide-fotos", :title => "06 Preto", :rel => "um"%>
    	<div class="esconder">
    		<%= link_to image_tag('06_Preto_02_Thumb.jpg'), image_path('06_Preto_02.JPG'), :class => "slide-fotos", :title => "06 Preto", :rel => "um"%>
    		<%= link_to image_tag('001_Sola_Thumb.jpg'), image_path('001_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "um"%>
    	</div>
		<h5>Ref. 06</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
		<%= link_to image_tag('06_Cafe_01_Thumb.jpg'), image_path('06_Cafe_01.JPG'), :class => "slide-fotos", :title => "06 Café", :rel => "dois"%>
    	<div class="esconder">
    		<%= link_to image_tag('06_Cafe_02_Thumb.jpg'), image_path('06_Cafe_02.JPG'), :class => "slide-fotos", :title => "06 Café", :rel => "dois"%>
    		<%= link_to image_tag('001_Sola_Thumb.jpg'), image_path('001_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "dois"%>
    	</div>
		<h5>Ref. 06</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
		<%= link_to image_tag('09_Preto_01_Thumb.jpg'), image_path('09_Preto_01.jpg'), :class => "slide-fotos", :title => "09 Preto", :rel => "tres"%>
    	<div class="esconder">
    		<%= link_to image_tag('09_Preto_02_Thumb.jpg'), image_path('09_Preto_02.jpg'), :class => "slide-fotos", :title => "09 Preto", :rel => "tres"%>
    		<%= link_to image_tag('001_Sola_Thumb.jpg'), image_path('001_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "tres"%>
    	</div>
		<h5>Ref. 09</h5>
		<h6 class="subheader">Preto</h6>
	</div>
</div>