<header class="header">
  <h1 align="center">Aproveite para conhecer o que há de melhor em botas e sapatos sociais masculinos em couro feitos no Brasil!</h1>
</header>
<br/>

<div align="center" class="large-12 columns">
  <h1 class="style7">Lançamentos 2017!</h1>
  <div class="large-4 small-6 columns">
    <%= link_to image_tag('910_Preto_02_Thumb.jpg'), fivelas_index_path %>
    <h5>910 Preto</h5>
    <hr>
  </div>
  <div class="large-4 small-6 columns">
    <%= link_to image_tag('09_Preto_02_Thumb.jpg'), botas_index_path %>
    <h5>09 Preto</h5>
    <hr>
  </div>
  <div class="large-4 small-6 columns">
    <%= link_to image_tag('910_Cafe_02_Thumb.jpg'), fivelas_index_path %>
    <h5>910 Café Manchado</h5>
    <hr>
  </div>
</div>

<div class="large-12 columns">
<br><br>
  <div class="large-6 small-6 columns">
    <h4><i class="fi-shopping-cart style4"></i> Enviamos para todo o Brasil</h4>
    <hr>
    <h6>Solicite seu orçamento de qualquer lugar do país. Nossas transportadoras levarão sua mercadoria com o menor tempo possível e com o máximo de segurança.</h6>
    <h6>Temos o cuidado redobrado com o produto entregue a nossos clientes, por isso, sempre embalamos cuidadosamente toda e qualquer mercadoria despachada.</h6>
    <%= image_tag("brasil1.png", size: "360")%>
  </div>

  <div class="large-6 small-12 columns">
    <h4 align="right">Formas de Pagamento <i class="fi-dollar style2"></i></h4>
    <hr>
    <h6 align="right">Nossa empresa sempre acompanha o estado atual da economia do país e trabalhamos para atender nossos clientes com confiança e facicilidade, ou seja, da forma menos burocrática possível.</h6>
    <h6 align="right">Visto isso, além de aceitarmos cheques como meio de pagamento, trabalhamos com os bancos da Caixa, Itaú, Sicoob, Bradesco e Banco do Brasil.</h6>
    
    <div align="right">
      <%= image_tag("cheque2.jpg", size: "470")%>
    </div>
  </div>
</div>