<br><br><br>
<div class="large-14 columns">
	<div style="text-align:center;">
		<h2>Sapatos com Fivela</h2>
		<h5>Sendo a maioria dos produtos vendidos e encomendados por nossos clientes, estes sapatos são caracterizados pelo seu design arrojado, por sua qualidade e por belas e variadas fivelas.</h5>
		<br/>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('910_Preto_02_Thumb.jpg'), image_path('910_Preto_02.jpg'), :class => "slide-fotos", :title => "910 Preto", :rel => "zero"%>
    	<div class="esconder">
    		<%= link_to image_tag('910_Preto_01_Thumb.jpg'), image_path('910_Preto_01.jpg'), :class => "slide-fotos", :title => "910 Preto", :rel => "zero"%>
    		<%= link_to image_tag('910_Preto_03_Thumb.jpg'), image_path('910_Preto_03.jpg'), :class => "slide-fotos", :title => "910 Preto", :rel => "zero"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "zero"%>
    	</div>
		<h5>Ref. 910</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('910_Cafe_01_Thumb.jpg'), image_path('910_Cafe_01.jpg'), :class => "slide-fotos", :title => "910 Café", :rel => "meio"%>
    	<div class="esconder">
    		<%= link_to image_tag('910_Cafe_02_Thumb.jpg'), image_path('910_Cafe_02.jpg'), :class => "slide-fotos", :title => "910 Café", :rel => "meio"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "meio"%>
    	</div>
		<h5>Ref. 910</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('900_Preto_01_Thumb.jpg'), image_path('900_Preto_01.JPG'), :class => "slide-fotos", :title => "900 Preto", :rel => "um"%>
    	<div class="esconder">
    		<%= link_to image_tag('900_Preto_02_Thumb.jpg'), image_path('900_Preto_02.JPG'), :class => "slide-fotos", :title => "900 Preto", :rel => "um"%>
    		<%= link_to image_tag('900_Preto_03_Thumb.jpg'), image_path('900_Preto_03.JPG'), :class => "slide-fotos", :title => "900 Preto", :rel => "um"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "um"%>
    	</div>
		<h5>Ref. 900</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('900_Cafe_01_Thumb.jpg'), image_path('900_Cafe_01.jpg'), :class => "slide-fotos", :title => "900 Café", :rel => "dois"%>
    	<div class="esconder">
    		<%= link_to image_tag('900_Cafe_02_Thumb.jpg'), image_path('900_Cafe_02.jpg'), :class => "slide-fotos", :title => "900 Café", :rel => "dois"%>
    		<%= link_to image_tag('900_Cafe_03_Thumb.jpg'), image_path('900_Cafe_03.jpg'), :class => "slide-fotos", :title => "900 Café", :rel => "dois"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "dois"%>
    	</div>
		<h5>Ref. 900</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('800_Preto_01_Thumb.jpg'), image_path('800_Preto_01.JPG'), :class => "slide-fotos", :title => "800 Preto", :rel => "tres"%>
    	<div class="esconder">
    		<%= link_to image_tag('800_Preto_02_Thumb.jpg'), image_path('800_Preto_02.JPG'), :class => "slide-fotos", :title => "800 Preto", :rel => "tres"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "tres"%>
    	</div>
		<h5>Ref. 800</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('800_Cafe_01_Thumb.jpg'), image_path('800_Cafe_01.JPG'), :class => "slide-fotos", :title => "800 Café", :rel => "quatro"%>
    	<div class="esconder">
    		<%= link_to image_tag('800_Cafe_02_Thumb.jpg'), image_path('800_Cafe_02.JPG'), :class => "slide-fotos", :title => "800 Café", :rel => "quatro"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "quatro"%>
    	</div>
		<h5>Ref. 800</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('750_Preto_01_Thumb.jpg'), image_path('750_Preto_01.JPG'), :class => "slide-fotos", :title => "750 Preto", :rel => "cinco"%>
    	<div class="esconder">
    		<%= link_to image_tag('750_Preto_02_Thumb.jpg'), image_path('750_Preto_02.JPG'), :class => "slide-fotos", :title => "750 Preto", :rel => "cinco"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "cinco"%>
    	</div>
		<h5>Ref. 750</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('750_Cafe_01_Thumb.jpg'), image_path('750_Cafe_01.jpg'), :class => "slide-fotos", :title => "750 Café", :rel => "seis"%>
    	<div class="esconder">
    		<%= link_to image_tag('750_Cafe_02_Thumb.jpg'), image_path('750_Cafe_02.jpg'), :class => "slide-fotos", :title => "750 Café", :rel => "seis"%>
    		<%= link_to image_tag('750_Cafe_03_Thumb.jpg'), image_path('750_Cafe_03.jpg'), :class => "slide-fotos", :title => "750 Café", :rel => "seis"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "seis"%>
    	</div>
		<h5>Ref. 750</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('740_Preto_01_Thumb.jpg'), image_path('740_Preto_01.JPG'), :class => "slide-fotos", :title => "740 Preto", :rel => "sete"%>
    	<div class="esconder">
    		<%= link_to image_tag('740_Preto_02_Thumb.jpg'), image_path('740_Preto_02.JPG'), :class => "slide-fotos", :title => "740 Preto", :rel => "sete"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "sete"%>
    	</div>
		<h5>Ref. 740</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('740_Cafe_01_Thumb.jpg'), image_path('740_Cafe_01.JPG'), :class => "slide-fotos", :title => "740 Café", :rel => "oito"%>
    	<div class="esconder">
    		<%= link_to image_tag('740_Cafe_02_Thumb.jpg'), image_path('740_Cafe_02.JPG'), :class => "slide-fotos", :title => "740 Café", :rel => "oito"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "oito"%>
    	</div>
		<h5>Ref. 740</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('720_Preto_01_Thumb.jpg'), image_path('720_Preto_01.JPG'), :class => "slide-fotos", :title => "720 Preto", :rel => "nove"%>
    	<div class="esconder">
    		<%= link_to image_tag('720_Preto_02_Thumb.jpg'), image_path('720_Preto_02.JPG'), :class => "slide-fotos", :title => "720 Preto", :rel => "nove"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "nove"%>
    	</div>
		<h5>Ref. 720</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('710_Preto_01_Thumb.jpg'), image_path('710_Preto_01.JPG'), :class => "slide-fotos", :title => "710 Preto", :rel => "dez"%>
    	<div class="esconder">
    		<%= link_to image_tag('710_Preto_02_Thumb.jpg'), image_path('710_Preto_02.JPG'), :class => "slide-fotos", :title => "710 Preto", :rel => "dez"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "dez"%>
    	</div>
		<h5>Ref. 710</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('710_Cafe_01_Thumb.jpg'), image_path('710_Cafe_01.JPG'), :class => "slide-fotos", :title => "710 Café", :rel => "onze"%>
    	<div class="esconder">
    		<%= link_to image_tag('710_Cafe_02_Thumb.jpg'), image_path('710_Cafe_02.JPG'), :class => "slide-fotos", :title => "710 Café", :rel => "onze"%>
    		<%= link_to image_tag('710_Cafe_03_Thumb.jpg'), image_path('710_Cafe_03.JPG'), :class => "slide-fotos", :title => "710 Café", :rel => "onze"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "onze"%>
    	</div>
		<h5>Ref. 710</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('700_Preto_01_Thumb.jpg'), image_path('700_Preto_01.JPG'), :class => "slide-fotos", :title => "700 Preto", :rel => "doze"%>
    	<div class="esconder">
    		<%= link_to image_tag('700_Preto_02_Thumb.jpg'), image_path('700_Preto_02.JPG'), :class => "slide-fotos", :title => "700 Preto", :rel => "doze"%>
    		<%= link_to image_tag('700_Preto_03_Thumb.jpg'), image_path('700_Preto_03.JPG'), :class => "slide-fotos", :title => "700 Preto", :rel => "doze"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "doze"%>
    	</div>
		<h5>Ref. 700</h5>
		<h6 class="subheader">Preto</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('700_Cafe_01_Thumb.jpg'), image_path('700_Cafe_01.JPG'), :class => "slide-fotos", :title => "700 Café", :rel => "treze"%>
    	<div class="esconder">
    		<%= link_to image_tag('700_Cafe_02_Thumb.jpg'), image_path('700_Cafe_02.JPG'), :class => "slide-fotos", :title => "700 Café", :rel => "treze"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "treze"%>
    	</div>
		<h5>Ref. 700</h5>
		<h6 class="subheader">Café Manchado</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('700_Caramelo_01_Thumb.jpg'), image_path('700_Caramelo_01.jpg'), :class => "slide-fotos", :title => "700 Caramelo", :rel => "quatorze"%>
    	<div class="esconder">
    		<%= link_to image_tag('700_Caramelo_02_Thumb.jpg'), image_path('700_Caramelo_02.jpg'), :class => "slide-fotos", :title => "700 Caramelo", :rel => "quatorze"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "quatorze"%>
    	</div>
		<h5>Ref. 700</h5>
		<h6 class="subheader">Caramelo</h6>
	</div>

	<div class="large-3 small-6 columns" style="float:left;">
	<br/>
		<%= link_to image_tag('690_Preto_01_Thumb.jpg'), image_path('690_Preto_01.JPG'), :class => "slide-fotos", :title => "690 Preto", :rel => "quinze"%>
    	<div class="esconder">
    		<%= link_to image_tag('690_Preto_02_Thumb.jpg'), image_path('690_Preto_02.JPG'), :class => "slide-fotos", :title => "690 Preto", :rel => "quinze"%>
    		<%= link_to image_tag('000_Sola_Thumb.jpg'), image_path('000_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "quinze"%>
    	</div>
		<h5>Ref. 690</h5>
		<h6 class="subheader">Preto</h6>
	</div>
</div>